.login-container {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 1px black;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 15%;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  width: 20%;
}

.img-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

img {
  width: 49%;
}

.input-class {
  margin-bottom: 10px;
}
