*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

header{
 
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 200px;
}

header a{
    color:#191c03;
}

a{
    text-decoration: none;
    opacity: 0.8;
    padding: 0 10px;
    cursor:pointer;
}

header nav{
    display:flex;
}

a:hover{
    opacity:1;
}

a:hover,a:visited,a:active{
    color:inherit;
}

.hero{
    background-image: url(images/hero.jpg);
    background-size: cover;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

.hero a{
    background-color: white;
    color: #191c03;
    padding: 20px 50px;
    border-radius: 4px;
    text-transform: uppercase;
}

.hero h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.hero h3{
    font-size: 25px;
    margin-bottom: 15px;
}

ul{
    list-style: none;
}

.know-the-hotel{
    padding: 100px 50px;
    display: flex;
    flex-direction: column ;
    align-items:center;
}

.know-the-hotel h3 {
    font-size:25px;
    color: #191c03;
    margin-bottom: 35px;
    text-align: center;

}

.know-the-hotel p{
    max-width: 800px;
    margin-bottom:35px;
    color: #191c03;
    text-align: center;

}

.know-the-hotel hr{
    width: 200px;
    height:2px;
    margin-bottom: 70px;
    background-color: #191c03;
    border:none;
}

.know-the-hotel .grid{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.know-the-hotel .grid li{
    height:350px;
    padding: 20px;
    border-radius:4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.know-the-hotel .grid li.small{
    flex-basis:40%;
}

.know-the-hotel .grid li.large{
    flex-basis:60%;
}

.know-the-hotel ul li:nth-child(1){
    background-image: url(images/itacare-01.jpg);
}

.know-the-hotel ul li:nth-child(2){
    background-image: url(images/itacare-02.jpg);
}

.know-the-hotel ul li:nth-child(3){
    background-image: url(images/itacare-03.jpg);
}

.know-the-hotel ul li:nth-child(4){
    background-image: url(images/itacare-04.jpg);
}

.features{
    background-color: #191c03;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features h3{
    font-size: 25px;
    margin-bottom:35px;
    color: white;
    text-align: center;
}

.features p{
    max-width: 800px;
    margin-bottom:35px;
    color: white;
    text-align: center;
}

.features hr{
    width: 200px;
    height:2px;
    margin-bottom: 70px;
    background-color:white;
    border:none;
}

.features .grid{
    width:100%;
    display: flex;
}

.features .grid li{
    padding: 0 30px;
    text-align: center;
}

.features .grid li i{
    color: #c3c63b;
    font-size: 35px;
    margin-bottom: 30px;
}

.features .grid li h4{
    color: #c3c63b;
    font-size: 25px;
    margin-bottom: 30px;
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:100px 50px;
}

.newsletter h3{
    font-size: 25px;
    margin-bottom:35px;
    color: #c3c63b;
    text-align: center;
}

.newsletter p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
    color: #c3c63b;
}

.newsletter input{
    padding: 15px;
    border: 1px solid #c3c63b;
    border-radius: 4px;
    margin-right: 15px;
    flex-grow: 1;
}

.newsletter form{
    display: flex;
    width:80%;
    max-width: 800px;
}

.newsletter button{
    padding: 15px;
    background-color: #c3c63b;
    color: white;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #191c03;
    padding: 50px 0;

}
footer ul{
    display: flex;
    margin-bottom:25px;
}
footer ul li {
    margin-right: 10px;
}

footer ul li:last-child{
    margin-right: 0;
}

footer ul li i {
    color: #c3c63b;
    font-size: 25px;
}
  
footer p {
    color: #c3c63b;
    text-align: center;
}
 