*{
    margin:0;
    padding: 0;
}
body{
    font-family: monospace , sans-serif;
    background-color: rgb(253,251,251);

}
#cabecalho{
    position:fixed;
    top: 0;
    background-color: #11a36a ;
    width: 100%;
    height: 100px;
    
}
#titulo{
    text-align: center;
}
#minha_foto{
    margin-top: 11.5%;
    margin-bottom: 1%;
    border-radius: 25%;
    margin-right:60%;
    margin-left: 1%;
    border: 5px solid #11a36a;
}
a{  
    font-family: sans-serif;
    padding-left: 120px;

}

#licoes_aprendidas li{
    line-height:29px;
}

#licoes_a_aprender li{
    line-height:29px;
}
nav{
    font-size:20px;
}
a:hover{
    font-family:monospace , sans-serif;
    font-weight: bold;
    color: #0a66c2;
}
.subtitulos{
    margin-bottom: 30px;
    margin-top: 30px;
   
}

article{
    width:30%;
    padding-top: 10px;
    
}


.lado-esquerdo li{
    margin-left: 40px;
}
.lado-esquerdo {
    margin-left: 2%;
    float:left;

}
.lado-esquerdo p{
    margin-bottom: 100px;
    line-height:20px;
}

.lado-direito{
    margin-right: 40%;
    float:right;
    

}
.lado-direito ul{
    margin-top: 89px;
}
section{
    width:30%;
    margin-left: 35%;
    margin-top: 575px;
    line-height: 20px;
   
}
footer{
  
    background-color: #11a36a ;
    font-size: 10px;
    position:fixed;
    bottom:0;
    width:100%;
    height:50px;
    text-align: center;
}
footer h2{
    margin-top: 30px;
}
#tabela{
    margin-bottom: 100px;
    width:30%;
    margin-left: 2%;
}
#tabela h3,li{
    margin-bottom: 15px;

}